<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log"
        android:supportsRtl="true"
        android:theme="@style/Theme.Therapeia"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="false"/>
        <activity android:name=".alarma.MainActivityAlarma"
            android:exported="false"/>
        <activity android:name=".alarma.AlarmActivity"
            android:exported="false"/>
        <activity
            android:name=".Doctor.RegistrarRol"
            android:exported="false" />
        <activity
            android:name=".Paciente.ListaPdfMediPac"
            android:exported="false" />
        <activity
            android:name=".Paciente.VisualizarTipoMediPaci"
            android:exported="false" />
        <activity
            android:name=".Paciente.VisualizarTipoEnferPaci"
            android:exported="false" />
        <activity
            android:name=".Doctor.Visualizar_tipo_medi"
            android:exported="false" />
        <activity
            android:name=".Doctor.Visualizar_tipo_enfer"
            android:exported="false" />
        <activity
            android:name=".Paciente.ListaPdfPaciente"
            android:exported="false" />
        <activity
            android:name=".Paciente.LoginPaciente"
            android:exported="false" />
        <activity
            android:name=".MainActivityPaciente"
            android:exported="false" />
        <activity
            android:name=".Paciente.RegistroPaciente"
            android:exported="false" />
        <activity
            android:name=".LeerMediDoc"
            android:exported="false" />
        <activity
            android:name=".Doctor.DetalleMedi"
            android:exported="false" />
        <activity
            android:name=".Doctor.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Leer_enfermedad"
            android:exported="false" />
        <activity
            android:name=".Doctor.DetalleEnfer"
            android:exported="false" />
        <activity
            android:name=".Doctor.ActualizarMedi"
            android:exported="false" />
        <activity
            android:name=".Doctor.ActualizarEnfer"
            android:exported="false" />
        <activity
            android:name=".Doctor.Agregar_MediPdf"
            android:exported="false" />
        <activity
            android:name=".Doctor.ListaPdfMediDoc"
            android:exported="false" />
        <activity
            android:name=".Doctor.ListaPdfDoctor"
            android:exported="false" />
        <activity
            android:name=".Doctor.Agregar_Pdf"
            android:exported="false" />
        <activity
            android:name=".Doctor.Agregar_Categoria_Enfermedad"
            android:exported="false" />
        <activity
            android:name=".Doctor.Agregar_Categoria_Medicamentos"
            android:exported="false" />
        <activity
            android:name=".Login_Doctor"
            android:exported="false" />
        <activity
            android:name=".Doctor.Registrar_doctor"
            android:exported="false" />
        <activity
            android:name=".Elegir_rol"
            android:exported="false" />
        <activity
            android:name=".ViewFullImage"
            android:exported="false" />
        <activity
            android:name=".Message_Chat"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Welcome_Activity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Login_Chat"
            android:exported="false" />
        <activity
            android:name=".Sign_Up_Chat"
            android:exported="false" />
        <activity
            android:name=".MainActivityC"
            android:exported="false" />

    <!--    <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseInstanceId"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
-->


        <!--Alarm-->

        <!-- Activity to set a new or modify existing alarm -->
        <activity
            android:name=".ui.main.AlarmsListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:exported="true"
            android:label="@string/alarm_list_title"
            android:launchMode="singleTask"
            android:theme="@style/DefaultDarkTheme">
        </activity>

        <!-- Application Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/DefaultDarkTheme" />

        <activity
            android:name=".ui.exported.HandleSetAlarm"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="com.android.alarm.permission.SET_ALARM"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- This activity is basically the same as AlarmAlert
             but full-screen so that it can turn the display on. -->
        <activity
            android:name=".ui.alert.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/DefaultDarkTheme" />

        <!-- Transparent activity with TimPickerFragment -->
        <activity
            android:name=".ui.alert.TransparentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <!-- KlaxonPresenter plays sound -->
        <service
            android:name=".services.AlertServiceWrapper"
            android:description="@string/alarm_klaxon_service_desc"
            android:exported="false" />

        <!-- Model -->
        <receiver
            android:name=".receivers.AlarmsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_FIRED" />
                <action android:name="${applicationId}.ACTION_SNOOZED_FIRED" />
                <action android:name="${applicationId}.ACTION_SOUND_EXPIRED" />
                <action android:name="${applicationId}.ACTION_CANCEL_NOTIFICATION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.TestReceiver"
            android:exported="false" />
        <!-- Persistence -->
        <provider
            android:name=".data.contentprovider.AlarmProvider"
            android:authorities="${applicationId}.model"
            android:exported="false" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="message/rfc822" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>
</manifest>